<h2>Edit <%= @animal.name %></h2>
<form method="POST" action="/animal/<%= @animal.id %>">
  <div class="form-wrapper">

    <div class="form-el">
      <label for="name">Name:</label>
      <input type="text" name="name" id="fname" value="<%= @animal.name%>"/>
    </div>

    <div class="form-el">
      <label for="last_name">Species:</label>
      <input type="text" name="species" id="species" value="<%= @animal.species%>"/>
    </div>

    <div class="form-el">
      <label for="last_name">Breed:</label>
      <input type="text" name="breed" id="breed" value="<%= @animal.breed%>"/>
    </div>

    <div class="form-el">
      <label for="last_name">Received Date:</label>
      <input type="text" name="Received_date" id="received_date" value="<%= @animal.received_date%>"/>
    </div>

<label for="pizza-selection">Is animal adoptable:</label>
<select name="adoptable" id="adoptable">
  <option
  value="Yes"
  <%= "selected" if @animal.adoptable == true %>
  >Yes</option>
  <option
  value="No"
  <%= "selected" if @animal.adoptable == false %>
  >No</option>
</select>


#need to grey out this field below if the animal is not ready for adoption
    <div class="form-el">
      <label for="owner_select">Assign Owner:</label>
      <select name="owner_id" id="house_select" selected="<%= @animal.owner_id %>">
        <% @owners.each do |owner| %>
          <% if owner.id == @animal.owner_id %>
            <option value=<%= owner.id %> selected><%= owner.joined_name %></option>
          <% else %>
            <option value=<%= owner.id %>><%= owner.joined_name%></option>
          <% end %>
        <% end %>
      </select>
    </div>

    <div class="form-el">
      <input type="submit" value="Update Animal"/>
    </div>

  </div>
</form>
