<h2><%= @animal.name %></h2>

<p><%= @animal.photo %></p>
<p>Species: <%= @animal.species%></p>
<p>Breed: <%= @animal.breed %></p>
<p>Received Date: <%= @animal.received_date %></p>
<p>Adoption Status: <%= @animal.adoption_status %></p>
<% if @animal.adoption_status == 'adopted' %>
   <p>Adopted By: <%= owners_id = @animal.owner_id %></p>
<% end %>



<!-- <p>Owner: need to have logic here to only show this field if the animal has been adopted and if so display the id as link to the owners details -->


<a href="/animals/<%= @animal.id %>/edit">Edit Animals Details</a>
<br>

<form action="/animals/<%= @animal.id %>/delete" method="POST"><input type="submit" value="Remove animal from system"></form>
