<h2><%= @animal.name %></h2>

<p><%= @animal.photo %></p>
<p>Species: <%= @animal.species%></p>
<p>Breed: <%= @animal.breed %></p>
<p>Received Date: <%= @animal.received_date %></p>
<!-- <p>Adoption status: need logic here to determine and show if an animal is still being trained for adoption, ready for adoption and
not adopted or has been adopted using adoptable method/p> -->
<!-- <p>Owner: need to have logic here to only show this field if the animal has been adopted and if so display the id as link to the owners details -->


<a href="/animals/<%= @animal.id %>/edit">Edit Animals Details</a>


<form action="/animals/<%= @animal.id %>/delete" method="POST"><input type="submit" value="Remove animal from system"></form>
