<h2><%= @animal.name %></h2>

<p><%= @animal.photo %></p>
<p>Species: <%= @animal.species%></p>
<p>Breed: <%= @animal.breed %></p>
<p>Received Date: <%= @animal.received_date %></p>
<p>Adoption Status: <%= @animal.adoption_status %></p>
<% if @animal.adoption_status == 'Adopted' %>
<p>Adopted By:
<%  owners_id = @animal.owner_id
owners_name = Owner.find_name(owners_id) %>
<a href="/owners/<%= @animal.owner_id %>/show"><%= owners_name %></a>
<% end %>
<br>
<br>
<a href="/animals/<%= @animal.id %>/edit">Edit Animals Details</a>
<br>
<form action="/animals/<%= @animal.id %>/delete" method="POST"><input type="submit" value="Remove Animal From System"></form>
