<h2><%= @owner.joined_name %></h2>

<p>Name: <%= @owner.joined_name %></p>
<p>Phone number: <%= @owner.phone_number %></p>
<p>Address: <%= @owner.address %></p>
<br>
<form action="/owners/<%= @owner.id %>/edit" method="LINK"><input type="submit" value="Edit <%= @owner.joined_name %>'s Details"></form>
<br>
<% if @owner.number_of_animals == 0%>
<form action="/owners/<%= @owner.id %>/delete" method="POST"><input type="submit" value="Remove <%= @owner.joined_name %> From The System"></form>
<% end %>
<br>
<% if @owner.owners_animals != [] %>
<h2>Animals</h2>
<% end %>
<% if @owner.owners_animals != [] %>
<% animals = @owner.owners_animals %>
  <% for animal in animals %>
<a href="/animals/<%= animal.id %>"><%= animal.name %></a>
<br>
<br>
<% end %>
<% end %>
